* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(6px + (10 * 1.7) * ((100vw - 768px) / 1920));
    font-weight: 400;
    line-height: 1.6;
    color: #343a40;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*SIDEBAR*/

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 20%;
    height: 100%;
    background-color:#bd5d38;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_inf {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_inf li {
    margin-top: 2em;
    list-style-type: none;
    font-weight: 800;
    color: #f8f9fa;
}

.contact_inf li span {
    color:	#ffe0bd;
}

/*CONTENT*/

.content {
    width: 80%;
    height: 100vh;
    padding-left: 3.5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f8f9fa;
}

.name h1 {
    text-transform: uppercase;
    font-size: calc(32px + (32 * 1.7) * ((100vw - 768px) / 1920));
    font-weight: 900;
}

.name span {
    color: #bd5d38;
}

/*TABLE*/

.table {
    display: flex;
    border-collapse: collapse;
    text-transform: uppercase;
    box-shadow: 0em .3em 1em rgba(0, 0, 0, 0.2);
}

.table thead,
.table tbody,
.table th,
.table td {
    display: block;
}

.table thead {
    float: left;
}

.table tbody tr {
    display: table-cell;
}

.table th,
.table td {
    padding: .7em;
    text-align: center;
}

.table th {
    background-color: #bd5d38;
    font-weight: 900;
    color: #f8f9fa;
}

.table th:nth-child(even) {
    background-color: #ffe0bd;
    color: #343a40;
}

.table td {
    transition: all .2s;
    font-weight: 500;
}

.table td:nth-child(odd) {
    background-color: #ffe0bd;;
}

.table td:hover {
    background-color:rgb(224, 220, 220)
}